PORT=3333

# for typeorm-cli operations you'll need to change POSTGRES_HOST to <0.0.0.0> 
# and back to <postgres> for use in app

POSTGRES_HOST=postgres
POSTGRES_DB=game_lobby
POSTGRES_USER=postgres
POSTGRES_PASS=your_password

PGADMIN_EMAIL=your_pgadmin_email@email.com
PGADMIN_PASSWORD=your_pgadmin_password

REDIS_PASS=redis_pass

JWT_KEY=jwt_key